
 
  
  .container{
    position: fixed;
    width: 40%;
    height: 90%;
    text-align: center;
    border-radius: 0.9rem;
    background-color: rgb(101, 150, 218);
    margin-left: 30%;
  }
  .heading{
    font-size: 60px;
    font-family:  Fantasy;
    
  }
  .inputBox{
    border-radius: 0.9rem;
    font-size: 30px;
    padding: 10px;
    margin-right: 6px;
  }
  .inputBox:hover{
 
    transform: scale(1);
    background: #e1e1e1;
    border: 3px solid #c3a5a5;
   
  }
  .btn{
    font-size: 2.3rem;
    border: none;
    border-radius: 0.3rem;
    cursor:pointer;
    font-family: "work Sanns",sans-serif;
    transform: scale(0.9);
    background-color: #090909;
    color: #fff;
    
   padding-top: 7px;
    padding-bottom: 9px;
 
 
  }
  .btn:hover{
    background-color: #fff;
    color:#be294c;
    border: #d43f3f;
    transform: scale(1);
    transition: all 0.1s;
    box-shadow: rgba(195, 54, 54, 0.964) 0px1px 4px, rgb(51,51,51) 0px 0px 0px 3px;
  }
  .remove{
    cursor:pointer;
    font-family: sans-serif;
    background-color: #e25061;
    font-size: 1.3rem;
    color: white;
    border-radius: 0.3rem;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
    
  }
  .remove:hover{
    transform: scale(1);
    border: #d43f3f;
    background-color: #881212;
  }
  .removeAll{    cursor:pointer;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    background-color: #d3183e;
    font-size: 20px;
    padding-top: 15px;
   
    height: 50px;
  }
  .textHeading{
    font-size: 30px;
    max-width:400px;
    max-height: 50px;
    margin-left: 15px;
    text-align: left;
   
   
  }
  